body{
    display: flex;
    flex-direction: column;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1f2937;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}